@mixin displayX {
  background-color: red;
  content: "";
  height: 5px;
  width: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
}

.body {
  margin: 0;
  background-color: #fbfbff;
  font-size: 20px;
}

.main {
  background-color: rgba(255, 255, 0, 0.267);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.panel {
  &__paragraph {
    font-size: 24px;
    height: 50px;
  }
}

.playground {
  border: 2px solid #1839e0;
  border-radius: 5px;
  padding: 12px;
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  &__item {
    background-color: #4158d0;
    border-radius: 5px;
    border: 2px solid #1839e0;
    cursor: pointer;
    margin: 0;
    transition: all 0.2s linear;
    position: relative;
    &:hover {
      background-color: #7084e9;
    }
    &--field-X::before {
      transform: translate(-50%) rotate(-45deg);
      @include displayX;
    }
    &--field-X::after {
      transform: translate(-50%) rotate(45deg);
      @include displayX;
    }
    &--field-O::before {
      border: 5px solid green;
      border-radius: 50%;
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70px;
      height: 70px;
    }
  }
  &__button {
    background-color: #4158d0;
    border: none;
    border-radius: 5px;
    color: white;
    margin: 24px;
    padding: 12px;
    transition: all 0.2s linear;
    &:hover {
      background-color: #7084e9;
      cursor: pointer;
    }
  }
}
